[submodule "mormannlab-hugo-src/themes/ananke"]
	path = mormannlab-hugo-src/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "mormannlab-hugo/themes/ananke"]
	path = mormannlab-hugo/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "mormannlab-site/themes/ananke"]
	path = mormannlab-site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
