<div class="mb3 publication-box {{ $.Param "text_color" | default "mid-gray" }} ba b--moon-gray br3 bg-light-gray shadow-1" data-abstract="{{ .Params.abstract }}">
  <!-- Left Section -->
  <div class="left-section" style="padding: 1rem 1.5rem; display: flex; flex-direction: column; justify-content: center;">
    {{ if .Date }}
      <div class="f6">{{ .Date.Format "January 2, 2006" }}</div>
    {{ end }}
    <h3 class="f4 fw5 near-black mb2">{{ .Title }}</h3>
    {{ with .Params.authors }}
      {{ if gt (len .) 0 }}
        <p class="f6 i">{{ delimit . ", " }}</p>
      {{ end }}
    {{ end }}
  </div>

  <!-- Middle Section (Hidden by Default) -->
  <div class="middle-section" style="padding: 2rem; align-items: center; justify-content: center; display: none;">
    <p class="abstract f6 mid-gray mb0" style="white-space: pre-wrap;"></p>
  </div>

  <!-- Right Section -->
  <div class="right-section" style="padding: 1rem; display: flex; justify-content: center; align-items: center;">
    {{ with .Params.pdf }}
      <a href="{{ . }}" target="_blank" class="f6 link dim br2 ph3 pv2 ba b--blue bg-transparent blue pdf-button">Full View</a>
    {{ end }}
  </div>
</div>
