{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image_class := site.Params.featured_image_class | default "cover bg-top" }}
  <header>
    <div>
      {{ partial "site-navigation.html" . }} <!-- Navigation remains at the top -->
    </div>
    <div class="{{ $featured_image_class }} header-image" style="background-image: url('{{ $featured_image }}');"></div>
    {{ if not .Params.omit_header_text }}
      <!-- Header text section below the image -->
      <div class="header-text-container">
        <div class="header-text-content">
          <h1 class="header-title">
            {{ .Title | default .Site.Title }}
          </h1>
          {{ with .Params.description }}
            <h2 class="header-description">
              {{ . }}
            </h2>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      {{ if not .Params.omit_header_text }}
        <div class="header-text-content">
          <h1 class="header-title">
            {{ .Title | default .Site.Title }}
          </h1>
          {{ with .Params.description }}
            <h2 class="header-description">
              {{ . }}
            </h2>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </header>
{{ end }}
