/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}

.nested-links a {
  overflow-wrap: break-word;
}



/* Custom styles for magnifying effect on hover over the boxes */
.paper-box {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.paper-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px var(--hover-shadow-color);
}



/* Profile Card General Styling */
.profile-card {
  position: relative;
  overflow: hidden;
  width: 60%; /* Initial width */
  transition: width 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
}

.profile-card:hover {
  width: 80%; /* Expanded width on hover */
  transform: scale(1.05); /* Optional magnifying effect */
  box-shadow: 0 8px 15px var(--hover-shadow-color);
}

/* Right Section: Hidden by Default */
.profile-card .right-section {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Right Section: Visible on Hover */
.profile-card:hover .right-section {
  transform: translateX(0);
  opacity: 1;
}

/* Left and Middle Sections Adjust on Hover */
.profile-card:hover .left-section {
  flex: 1;
}

.profile-card:hover .middle-section {
  flex: 2;
}