{{ define "header" }}
   {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <h1 class="f1 athelas mt3 mb1"></h1>
    </header>
    
    <div class="flex-l flex-wrap justify-center w-100">
      <!-- Circle Image -->
      <div class="w-40-l w-100 mb4">
        <div class="w5 h5 br-100 ba b--light-gray">
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-100 h-100 br-100" />
        </div>
      </div>
      
      <!-- Content Section -->
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} w-60-l w-100">
        {{ .Content }}
      </div>
    </div>
  </article>
{{ end }}
